<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Reel Downloader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="page">
      <div class="card">
        <h1>This For U AMAN</h1>
        <h1>Instagram Reel Downloader</h1>

        <form method="POST">
          <input
            type="text"
            name="url"
            placeholder="Paste Instagram Reel URL"
            required>
          <button type="submit">Download Reel</button>
        </form>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <p class="note">✔ Works only for public reels</p>
        <p class="note">Made By vishnu with &#9829;</p>
      </div>
    </div>
  </body>
</html>
